h1 {
  display: block;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
 margin-right: 50px;
 margin-top: 40px;

}


a{
  text-decoration: none;
  color: #E56997;
  text-decoration: none;
  font-family: 'Coming Soon', cursive;
  text-transform: uppercase;
  font-size: 20px;
  justify-content: flex-end;
 }

 @media (max-width: 768px) {
  a{
    width: 100%;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
   }
}
/* style homepage*/

.body-homepage{
  background-image: url(Brigadeiro_foto_homepage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-homepage{
width: 10px;
height: auto;
flex-shrink: 0;
margin-top: 20px;
}

.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
.conatiner-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-hp{
width: 287px;
height: 100px;
flex-shrink: 0;
border: 1px solid #AF3557;
background: #AF3557;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
border-radius: 60px;
align-items: center;
display: flex;
justify-content: center;
margin-top: 200px;

}
.text-btn{
  display: flex;
width: 341px;
height: 60px;
flex-direction: column;
flex-shrink: 0;
color: #FFF;
font-family: Donau;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
align-items: center;
justify-content: center;
}

.btn-hp {
  transition: transform 0.3s ease-in-out;
}

.btn-hp:hover {
  transform: scale(1.1);
}
.photo-homepage{
 display: flex;
width: 1600px;
height: 562px;

}

.brigadeiro{
  width: 1440px;
  height: 562px;
  background: url(<src/images/Brigadeiro_foto_homepage2.png>), lightgray -169.569px -385.728px / 111.786% 170.916% no-repeat;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/*about page*/

.head-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #FFF;
  z-index: 999;
}

body, html {
height: 100%;
margin: 0;
padding: 0;
}

.body-about{
  background-color: #AF3557;
}

.logo-navbar{
  margin-top: 40px;
  height: 40px;
}

.about-page{
background: #AF3557;
width: 50%;
height:auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
box-sizing: border-box;
margin-top: 100px;
}
.about-page > * {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about-page {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
   }
}

.brand{
font-family: Donau;
color: #FFF9ED;
font-size: 32px;
text-transform: uppercase;
padding-top: 40px;
}

.h1-aboutus{
flex-direction: column;
color: #FFF9ED;
font-family: Halimun;
font-size: 70px;
text-transform: capitalize;
padding-top: 40px;
}
@media (max-width: 768px) {
  .h1-aboutus {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
   }
}

.p-aboutus{
color: #FFF9ED;
text-align: center;
font-family: Donau;
font-size: 25px;
text-transform: capitalize;
margin-left: 80px;
margin-right: 80px;
margin-bottom: 20px;
}

@media (max-width: 768px) {
  .p-aboutus {
  font-size: 25px;
   }
}

.photo_about2{
width: 721px;
height: 100vh;
max-width: 100%;
max-height: 100%;
object-fit: cover;
}

@media (max-width: 768px) {
  .container-photo {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   }
}

.container-photo{
display: flex;
justify-content: flex-start;
align-items: center;
width: 50%;
height: auto;
float: right;
margin: 0;
background-color: #AF3557;
transform: translateY(-185%);
}

/*footer */

footer .social-links a {
  margin: 20px;
  color: #E56997;
  background-color: rgba(128, 128, 128, 0);
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: gray;
  background-color: #E56997;
}

.hero h1 {
  font-family: spectral;
  font-size: 60px;
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
   }
}
@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }
  h2 {
    font-size: 34px;
  }
}
